include:
  - project: shared-scripts/gitlab-ci
    file: /autodevops.yml
    ref: v3
    inputs:
      target: golang
      topic: none
      dev_branch: $CI_DEFAULT_BRANCH
      multi_arch: true
      prod_deployment: false
      fat_deployment: false
      int_deployment: false
      dev_deployment: false
      release_tag: ${CI_COMMIT_REF_NAME}


# mockgen setup
Test:
  before_script:
    - export PATH=$GOPATH/bin:$PATH
    - go get go.uber.org/mock/mockgen@latest
    - go install go.uber.org/mock/mockgen@latest
Vet:
  before_script:
    - export PATH=$GOPATH/bin:$PATH
    - go get go.uber.org/mock/mockgen@latest
    - go install go.uber.org/mock/mockgen@latest
Build:
  before_script:
    - export PATH=$GOPATH/bin:$PATH
    - go get go.uber.org/mock/mockgen@latest
    - go install go.uber.org/mock/mockgen@latest
Dependency-Track:
  before_script:
  - export PATH=$GOPATH/bin:$PATH
    - go get go.uber.org/mock/mockgen@latest
    - go install go.uber.org/mock/mockgen@latest

Docker Release:
  tags:
  - clz-large

Docker Dev:
  tags:
  - clz-large

